@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body{
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
}
.background{
    background: radial-gradient(ellipse at top,rgb(197, 239, 253),rgb(155, 225, 251));
    display: flex;
    box-sizing: border-box;
    padding: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10vw;
    height: 100vh;
    width: 100wh;
}
.background img{
    height:80vh;
    width:60vh;
    border-radius: 50px;
}
.container-login{
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-sizing: border-box;
    padding: 50px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;
}
.container-login h2{
    font-size: 50px;
}
.lable-typing{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 5px;
    flex: 1;
}
.container-label , .container-typing{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.container-label label, .container-typing input {
    height: 30px;
    line-height: 20px;
    box-sizing: border-box;
}
.container-label label{
    font-size: 30px;
}
.container-typing{
    flex: 1;
}
.container-typing input{
    font-size: 20px;
    width: 100%;
    border: 2px solid rgb( 35, 31, 32);
    background-color:transparent;
    border-radius: 15px;
    padding: 5px;
}
.container-button{
    position: relative;

}
.button{
    border: none;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    box-sizing: border-box;
    padding: 10px;
    font-weight: bold;
    position: relative;
}
.button::after{
    content: '';
    width: 0;
    height: 100%;
    border-bottom: 2px solid rgb( 189, 32, 49);
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.3s ease-in-out;
}
.button:hover::after{
    width: 100%;
}
.sign-in{
    position: absolute;
    left: 0;
    top:50%;
}
.login-user{
    position: absolute;
    top: 50%;
    left: 50%;
}
.forget-password{
    position: absolute;
    top: 50%;
    right: 0;
}
